* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Pixelify Sans", sans-serif;
}
html{
    scroll-behavior: smooth;
}

/*Inicio Nav*/

.nav {
    background-color: black;
    padding: 20px;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 24px;
    
   
}

.nav-list a{
    padding: 20px;
    text-decoration: none;
    color: #a4a4a4;
    
}

.nav-list a:hover{
    color: #18ff03;
    transition: 0.9s;
    transform: scale(1.1);
    
}


/*Fim Nav*/

/*Inicio Main*/

.main{
    width: 100%;
    background-color: #c8c8c8;
    height: calc(100vh - 80px);
    display: flex;
    background-image: url("../img/gerson/Programador-2.png");
    align-items: center;
    padding-left: 10%;
}
.main h1{
    color: #fff;
    font-size: 54px;
}
.main p{
    font-size: 26px;
    font-style: italic;
    color: #14db02;
    margin-top: 10px;
    margin-bottom: 35px;
}

.main h1:hover{
    color: #18ff03;
    transition: 0.9s;
    
}
.call-to-action{
    cursor: pointer;
    color: #000;
    background-color: #fff;
    border: 0;
    padding: 14px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.9s;
    font-family: "Pixelify Sans", sans-serif;
}

.call-to-action:hover{
    transform: scale(1.1);
    color: #000000;
    background-color: #18ff03;
}
/* Final Main*/

/*Início Sobre*/

.sobre{

    width: 100%;
    padding: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sobre h2:hover{
    transition: 0.9s;
    color: #18ff03;      
}

.sobre div{
    max-width: 50%;
    padding-right: 40px;
}
.sobre img{
    max-width: 450px;
    border-radius: 8px;
}

.sobre h2{
    font-size: 32px;
    margin-bottom: 14px;
}

/* Fim Sobre*/

/*Início Projetos*/

.projetos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;

}

.projetos h2{
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}
.projetos h2:hover{
    transition: 0.9s;
    color: #18ff03;    
}
.projetos p{
    margin-bottom: 40px;
    font-style: italic;
    font-size: 20px;
    margin-top: 5px;
    
}

.projetos-lista{
    width: 100%;
    display: flex;
    margin-bottom: 8px;
    justify-content: center;
    align-items: center;
}

.projetos img{
    width: 22%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    opacity: 0.8;
    border-radius: 8px;
    transition: 0.9s;

}

.projetos img:hover{
    opacity: 1;
}

.call-to-action2{
    cursor: pointer;
    color: #fff;
    background-color: #000;
    border: 0;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 18px;
    margin-top: 18px;
    transition: 0.9s;
    font-family: "Pixelify Sans", sans-serif;
}

.call-to-action2:hover{
    transform: scale(1.1);
    color: #18ff03;
    background-color: #000000;
}
footer{
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Fim Projetos*/


/* Responsividade */

@media(max-width:1050px){
    /* MAIN */
    .main h1{
        font-size: 45px;
    }
    .main p{
        font-size: 18px;
    }
    .main{
        background-size:cover;
    }
    /* MAIN */

    /* SOBRE */
    .sobre{
        flex-direction: column;
        padding-top:80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .sobre div{
        max-width: 80%;
    }
    .sobre div h2{
        font-size: 40px;
    }
    .sobre img{
        max-width: 80%;
        padding-top: 18px;
    }
    /* SOBRE */

    /* PROJETOS */
    .projetos img{
        width: 27.5%;
    }
    /* PROJETOS */

    /* FOOTER */
    footer{
        flex-direction: column;
        padding: 0 20%;
        padding-top: 16px;
        padding-bottom: 16px;
    }
    /* FOOTER */
}